.Login {
  display: flex;
  flex-direction: column;
  background-color: #003969;
  height: 150vh;
  place-items: center;
}

.Login > img {
  height: 300px;
}

.Login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.Login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.Login__container > h1 {
  font-weight: 500;
  margin-bottom: 10px;
  color: white;
}

.Login__container > form > h5 {
  margin-bottom: 2px;
  color: white;
}

.Login__container > form > input {
  height: 25px;
  margin-bottom: 7px;
  background-color: white;
  width: 98%;
  color: black;
}

.Login__container > p {
  margin-top: 15px;
  font-size: 12px;
  color: wheat;
}

.Login__signInButton {
  background: #0059a4;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 25px;
  border-color: white;
  color: white;
}
