.votingScreen {
  display: flex;
  flex-direction: column;
  background-color: #003969;
  height: 100%;
  place-items: center;
}

.votingScreen > img {
  height: 300px;
}
.image {
  margin-top: 15px;
  margin-bottom: 20px;
}
.image > img {
  height: 100px;
  object-fit: cover;
}

.timer {
  margin-top: 5px;
  margin-bottom: 30px;
}

.button > a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  background-color: #0059a4;
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;
}
